:root {
    --background-header-footer: #337AC1;
    --background-image-color: #3798B8;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr 1fr 6fr 5fr 1fr;
    grid-template-areas: "header header"
                         "image title"
                         "image summary"
                         "image pendings"
                         "footer footer";
    text-align: center;
    height: 100vh;
    background-color: var(--background-image-color);
}

header{
    grid-area: header;
    background-color: var(--background-header-footer);
    color: white;
    justify-content: center;
}

img{
    grid-area: image;
    width: 110%;
    height: 100%;
}

#title{
    grid-area: title;
    padding: 5px;
    background-color: var(--background-image-color);
    font-size: 15px;
    margin-top: 10px;
    color: white;
}

#summarySection{
    grid-area: summary;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr, 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100px;
    border-radius: 13px;
    font-size: 1rem;
    color:white;
    box-shadow: 0px 5px 7px rgba(31, 30, 30, 0.3), 0px 15px 100px rgba(26, 25, 25, 0.3);
}

#summarySection > label {
    width: 100%;
}

.spent{
    font-size: 40px
}
.backgroundBlue{
    background: linear-gradient(to right, #005c97, #3436ad)
}

.backgroundSkyblue{ 
    background: linear-gradient(to right, #2193b0, #6dd5ed); 
}

#pendingsSection{
    grid-area: pendings; 
    background: linear-gradient(292deg, rgba(28,180,218,1) 53%, rgba(6,214,141,1) 84%);
    color: white;
    height: 80%;
    box-shadow: 0px 5px 7px rgba(31, 30, 30, 0.3), 0px 15px 100px rgba(26, 25, 25, 0.3);
}

#pendingsSection > p{
    font-size: 19px;
}

#pendingsList{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    height: 200px;
}

footer{
    grid-area: footer;
    text-align: right;
    background-color: var(--background-header-footer);
    color: white;
    padding-right: 10px;
}

ul {
    list-style: none;
}

p{
    padding: 20px;
}

.menuButton{
    display: inline-block;
    width: 10%;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    z-index: 1;
    transition: 0.5s;
    font-size: 13px; 
    padding-top: 5px
}

nav > ul > li{
    box-shadow: 0px 15px 20px var(--background-image-color)
}

li > a {
    color: white;
    text-decoration: none;
}

i{
    display: inline-block;
}

#hamburgerButton{
    display: none;
    position: relative;
    cursor: pointer;
}


#menuContainer{
    width: 100%;
}

#userButton {
    background-color: var(--background-header-footer);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

#userSection {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#userOptions{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#userOptions p{
    color: black;
    font-size: 10px;
    cursor: default;
}

#userOptions > a{
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
}

#userOptions a:hover{
    color: var(--background-header-footer)
}


#userSection:hover #userOptions{
    display: block;
}

#menuContainer li:hover{
   background: rgba(0,0,0,0.1); 
   cursor: pointer;
}


@media (max-width: 1300px){
    #backgroundImage{
        display: none;
    }
    body{
        grid-template-areas: "header header header"
                         "title title title"
                         ". summary ."
                         ". pendings ."
                         "footer footer footer";
        grid-template-columns: 2fr 3fr 3fr;
        grid-template-rows: 1fr 1fr 6fr 5fr 1fr;                 
    }
    nav > ul > li{
        box-shadow: none;
    }
    .spent{
        font-size: 30px;
    }
}

@media (max-width: 930px) {
    #hamburgerButton{
        color: white;
        font-size: 20px;
        display: inline-block;
    }
    #menuContainer{
        display: none;
    }
    .menuButton{
        margin: 8px;
        font-size: 10px;
    }


}
