:root {
    --background-header-footer: #337AC1;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr 1fr 6fr 5fr 1fr;
    grid-template-areas: "header header"
                         "image title"
                         "image summary"
                         "image pendings"
                         "footer footer";
    text-align: center;
}

header{
    grid-area: header;
    box-shadow: 0px 5px 7px rgba(31, 30, 30, 0.3), 0px 15px 100px rgba(26, 25, 25, 0.3);
    background-color: var(--background-header-footer);
    color: white;
}

img{
    grid-area: image;
    width: 95%;
}

#title{
    grid-area: title;
    background: linear-gradient(to right, #039be5, #00B4DB);
    padding: 5px;
    color: rgb(30, 86, 109);
    font-weight: bold;
    font-size: 15px
}

#tableSummary{
    grid-area: summary;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr, 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 250px;
    border-radius: 13px;
    font-size: 1rem;
    color:white;
   /* background: linear-gradient(to right, #039be5, #00B4DB);*/
}

#tableSummary > label {
    width: 100%;
}

.spent{
    font-size: 50px
}
.backgroundBlue{
    background-color: #4965D3;
}

.backgroundSkyblue{
    background-color: skyblue;
}

#pendingsSection{
    grid-area: pendings;
    background: linear-gradient(to right, #039be5, #00B4DB); 
    color: whitesmoke;
}

#pendingsList{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    height: 200px;
}

footer{
    grid-area: footer;
    text-align: right;
    background-color: var(--background-header-footer);
    color: whitesmoke;
}

ul {
    list-style: none;
}

p{
    padding: 20px;
}

nav > ul > li{
    display: inline-block;
    width: 10%;
}

li > a {
    color: white;
    text-decoration: none;
}
