

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: ". ."
                        "addExpense form"
                        ". .";
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    
}

#addExpense{
    grid-area: addExpense;
    font-size: 60px;
    color: white;
}

input{
    width: 170px;
    height: 25px;
    border-radius: 7px;
    
}

form{
    grid-area: form;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:    "month place"
                            "category amount"
                            "paymentMode isFixedExpense"
                            "saveButton saveButton";
    align-items: center;
    height: 80vh;
    width: 1200px;
    border-radius: 180px 20px 20px 180px;
    box-shadow: 0px 5px 7px rgba(0,0,0,.1), 0px 15px 100px rgba(0,0,0,.1);
    background-color: white;
}

#month{
    grid-area: month;
}

#place{
    grid-area: place;
}

#category{
    grid-area: category;
}

#amount{
    grid-area: amount;
}

#paymentMode{
    grid-area: paymentMode;
}

#isFixedExpense{
    grid-area: isFixedExpense;
}

#saveButton{
    grid-area: saveButton;
}

button {
    border-radius: 6px;
    background-color: #673bce;
    color: white;
    size: 40px;
    border-color: white;
    width: 150px;
    margin: 0 auto;
    padding: 7px;   
    display: block;
    height: 60px;
}