
:root {
    --violet: #673bce;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    justify-content: center;
}

form{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 5px 7px rgba(0,0,0,.3), 0px 15px 100px rgba(0,0,0,.3);
    background-color: rgba(170, 167, 167, 0.637);
}



button {
    border-radius: 6px;
    background-color: var(--violet);
    color: white;
    size: 40px;
    border-color: white;
    width: 130px;
    margin: 0 auto;
    padding: 7px;   
    display: block  ;
}

input::-webkit-calendar-picker-indicator {
    opacity: 10;
}

input{
    border-color: var(--violet);
}
