:root {
    --background-header-footer: #337AC1;
    --background-image-color: #3798B8;
    --violet: #673bce;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

header{
    grid-area: header;
    background-color: var(--background-header-footer);
    color: white;
    justify-content: center;
    text-align: center;
}


nav > ul > li{
    display: inline-block;
    width: 10%;
}



ul {
    list-style: none;
}


li > a {
    color: white;
    text-decoration: none;
}

main{
    grid-area: main;
    background: url(./../images/settingsPage.jpg) no-repeat center center fixed; 
    margin: 50px 20px;
    display: grid;
    grid-template-areas: ". categories ."
                         ". fixedExpenses ."
                         ". places ."
                         ". paymentModes ."
                         ". incomeReasons ."   ;
    grid-template-columns: 2fr 4fr 3fr;
}

section {
    border: 3px solid;
    display: grid;
    grid-template-columns: 3fr 3fr ;
    justify-items: center;
    align-items: center;
    margin-bottom: 5px;
}


aside{
    grid-area: sectionTitle;
    font-size: 25px;
}


details{
    grid-area: categories;
}

#fixedExpensesSection{
    grid-area: fixedExpenses;
}

#placesSection {
    grid-area: places;
}

#paymentModesSection{
    grid-area: paymentModes;
}

#incomeReasonsSection{
    grid-area: incomeReasons;
}

label{
    display: grid;
    margin: 10px 0;
    border: 2px solid;
    padding: 20px 5px;
    grid-template-areas: "elementName editButton removeButton";
    width: 350px;
    border-radius: 10px;
    border-color: #1154EC;
    height:80%;
    justify-content: right;
}

span{
    grid-area: elementName;
    margin-right: 170px;
    margin-left: 10px;
    text-align: left;
    font-size: 16px;
}

.editButton{
    grid-area: editButton;
}

.removeButton{
    grid-area: removeButton;
}

img{
    width: 20px;
    height: 20px;
}

img:active{
    transform: translateY(4px);    
}

button{
    width: 50px;
    background: transparent;
    cursor: pointer;
    border: none;
}

body{
    display: grid;
    grid-template-areas:    "header header header"
                            "main main main"
                            "footer footer footer";
    height: 100vh;
    grid-template-rows: 1fr 10fr 1fr;
}



footer{
    grid-area: footer;
    text-align: right;
    background-color: var(--background-header-footer);
    color: white;
    padding-right: 10px;
}