:root {
    --background-header-footer: #337AC1;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

header{
    grid-area: header;
    background-color: var(--background-header-footer);
    color: white;
    justify-content: center;
    text-align: center;
}

nav > ul > li{
    display: inline-block;
    width: 10%;
}

ul {
    list-style: none;
}


li > a {
    color: white;
    text-decoration: none;
}

.iconButton{
    width: 20px;
    height: 20px;
}

img:active{
    transform: translateY(4px);    
}

button{
    width: 50px;
    background: transparent;
    cursor: pointer;
    border: none;
}

body{
    display: grid;
    grid-template-areas:    "header header header"
                            "main main main"
                            "footer footer footer";
    height: 100vh;
    grid-template-rows: 1fr 10fr 1fr;
}

main{
    grid-area: main;
    background: url(./../images/settingsPage.jpg) no-repeat center center fixed; 
    margin: 50px 20px;
    display: grid;
    grid-template-areas: ". categories ."
                         ". fixedExpenses ."
                         ". places ."
                         ". paymentModes ."
                         ". incomeReasons ."   ;
    grid-template-columns: 2fr 4fr 3fr;
}

#categoriesSection{
    grid-area: categories;
}

#fixedExpensesSection{
    grid-area: fixedExpenses;
}

#placesSection{
    grid-area: places;
}

#paymentModesSection{
    grid-area: paymentModes;
}

#incomeReasonsSection{
    grid-area: incomeReasons;
}

section {
    display: grid;
    grid-template-areas: "sectionTitle"
                         "sectionContent";
    grid-template-rows: 1fr 2fr;
    row-gap: 2px;
}

.sectionTitle{
    display: block;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    border: 1px groove;
    background-color: #e8f0fe;
    align-items: center;
    height: 70px;
}

.sectionTitle > span {
    font-size: 20px;
}

.sectionContent{
    border: 2px groove;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 4fr 4fr;
    justify-content: center;
    align-items: center;
}

.itemContent{
    border: 1px groove;
    margin: 10px;
    width: 300px;
    padding: 20px;
    display: grid;
    grid-template-areas: "span . editButton removeButton";
    grid-template-columns: 2fr 3fr 2fr 2fr;
}

.itemContent > span {
    grid-area: span;
}

.editButton {
    grid-area: editButton;
}

.removeButton{
    grid-area: removeButton;
}

.arrow{
    margin-right: 5px;
    padding-top: 5px;
    width: 22px;
    height: 25px;
    cursor: pointer;
}

.arrow:active {
    -webkit-transform: rotate(180deg);
  }


footer{
    grid-area: footer;
    text-align: right;
    background-color: var(--background-header-footer);
    color: white;
    padding-right: 10px;
}